<div class="content">
    <div class="inner-content">
        <ul>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/vault/content']" [queryParams]="">
                    <i class="fa fa-fw fa-th"></i>&nbsp;{{'allItems' | i18n}}
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/vault/content']" [queryParams]="{filter: 'favorites'}">
                    <i class="fa fa-fw fa-star"></i>&nbsp;{{'favorites' | i18n}}
                </a>
            </li>
        </ul>
        <h2>{{'types' | i18n}}</h2>
        <ul>
            <li *ngFor="let type of types" [routerLinkActive]="['active']">
                <a [routerLink]="['/vault/content']" [queryParams]="{filter: 'type', type: type.key}">
                    <i class="fa fa-fw" [ngClass]="type.icon"></i>&nbsp;{{type.name | i18n}}
                </a>
            </li>
        </ul>
        <p *ngIf="!loaded" class="text-muted">{{'loading' | i18n}}</p>
        <ng-container *ngIf="loaded">
            <h2>
                {{'folders' | i18n}}
                <button appBlurClick (click)="addFolder()" title="{{'addFolder' | i18n}}">
                    <i class="fa fa-plus fa-fw"></i>
                </button>
            </h2>
            <ul class="fa-ul">
                <li *ngFor="let f of folders" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/vault/content']" [queryParams]="{filter: 'folder', folderId: f.id}">
                        <i class="fa-li fa fa-caret-right"></i> {{f.name}}
                        <span appStopProp appStopClick (click)="editFolder(f)" title="{{'editFolder' | i18n}}"
                              *ngIf="f.id">
                            <i class="fa fa-pencil fa-fw"></i>
                        </span>
                    </a>
                </li>
            </ul>
            <div *ngIf="collections && collections.length">
                <h2>{{'collections' | i18n}}</h2>
                <ul class="fa-ul">
                    <li *ngFor="let c of collections" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['/vault/content']" [queryParams]="{filter: 'collection', collectionId: c.id}">
                            <i class="fa-li fa fa-caret-right"></i> {{c.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #folderAddEdit></ng-template>
