<div id="audit">
    <div class="boxes">
        <div class="box leaked">
            <h2>Leaked Passwords</h2>
            <span>{{countLeaked()}}</span>
            <p>Found in data breaches.</p>
            <a [routerLink]="['/vault/content']" [queryParams]="">See items</a>
        </div>
        
        <div class="box weak">
            <h2>Weak Passwords</h2>
            <span>{{countWeak()}}</span>
            <p>These passwords area easy to guess.</p>
        </div>
        
        <div class="box reuse">
            <h2>Reused Passwords</h2>
            <span>{{countReused()}}</span>
            <p>Reusing passwords is bad.</p>
        </div>
    </div>

    <div class="breached-accounts">
        <h2>Breached Accounts</h2>

        <div class="list">
            <div *ngFor="let account of breachedAccounts" class="account">
                <h3>{{account.username}}</h3>
    
                <div class="breaches">
                    <div *ngFor="let breach of account.breaches">
                        <div class="title">
                            <app-vault-icon [cipher]="breach.domain"></app-vault-icon>
                            <span class="text">{{breach.name}}</span>
                            <span class="detail">{{breach.domain}}</span>
                        </div>
    
                        <!--<p>{{breach.description}}</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
